---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>About Me</h1>
        <h2> Hi! My name is Verania and this is my new Astro site!</h2>
        <p> I am currently working through this Astro tutorial to better understand the uses of static site generators!</p>
        <p> This site will continue to update as I complete more of the tutorial, so keep checking back and see my Astro journey!</p>
	</body>
</html>